<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }} ">

</head>
<body>
    
    <div id="heading">
        <h1>Live Streaming 🎥</h1>
    </div>
    <hr>

    <div class="videobox">

        <img src="{{ url_for('video') }}" alt="" width="50%">

        <button id="btn-state"> OFF </button>
    </div>

</body>
</html>